/* ==========================================================================
   VARIABLES / DESIGN TOKENS
   ========================================================================== */

:root {
  /* Colors */

  /* Action Tokens */
  --action-primary: hsl(234, 29%, 20%);
  --action-secondary: hsl(4, 100%, 67%);

  /* Surface Tokens */
  --surface-page: hsl(0, 97%, 85%);
  --surface-card: hsl(0, 0%, 100%);
  --surface-modal: burlywood;

  /* Text Tokens */
  --text-main: hsl(235, 18%, 26%);
  --text-secondary: hsl(0, 0%, 100%);
  --text-muted: hsl(0, 0%, 58%);

  /* Status Tokens */
  --status-error: hsl(4, 100%, 67%);

  /* Spacing */

  --step-0: clamp(1rem, 1rem + 0.17vw, 1.25rem);

  --step-4: clamp(2.3328rem, 2.1019rem + 1.0554vw, 3.0518rem);

  --step-5: clamp(2.7994rem, 2.4733rem + 1.4904vw, 3.8147rem);

  /*Spacing Scale(The Rythm)  */
  --space-xs: calc(var(--step-0) * 0.5);
  --space-sm: var(--step-0);
  --space-md: calc(var(--step-0) * 1.5);
  --space-lg: var(--step-4);
  --space-xl: var(--step-5);

  /* Typography */
  --font-main: "Roboto", sans-serif;
  --font-bold: 700;
  --font-regular: 400;

  /* --font-xs: clamp(0.7rem, 0.7rem + 0.17vw, 0.95rem);
  --font-sm: clamp(0.7rem, 0.7rem + 0.17vw, 0.95rem);
  --font-md: clamp(0.7rem, 0.7rem + 0.17vw, 0.95rem);
  --font-lg: clamp(0.7rem, 0.7rem + 0.17vw, 0.95rem);
  --font-xl: clamp(0.7rem, 0.7rem + 0.17vw, 0.95rem); */
}

/* ==========================================================================
   BASE STYLES
   ========================================================================== */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  color: var(--text-main);
  margin: 0;
  font-size: var(--step-0);
  line-height: 1.5;
  background-color: var(--surface-page);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

h1,
h2.h3 {
  line-height: 1.1;
  font-size: var(--step-4);
}

/* LAYOUT */

.l-full-screen-center {
  display: grid;
  place-items: center;
  min-height: 100dvh;
}

/* COMPONENTS */
.newsletter {
  display: grid;
  grid-template-areas:
    "image"
    "content";
  gap: var(--space-md);
  margin: 0 auto;
  align-items: center;
  max-width: 900px;
  padding: var(--space-md);
  background-color: var(--surface-card);
  border-radius: 20px;
}
.newsletter__image {
  grid-area: image;
}
.newsletter__content {
  grid-area: content;
}

.newsletter__list-item {
  list-style: none;
  /* justify-content: center; */
}
.newsletter__list-item::before {
  content: url("./assets/images/icon-list.svg");
  padding-inline-end: var(--space-xs);
  padding-block: 0;
}

.newsletter__input {
  padding-inline: var(--space-xs);
  padding-block: var(--space-sm);
  color: var(--text-muted);
  border: 1px solid var(--action-primary);
  border-radius: 4px;
}
.newsletter__label-text {
  font-size: 0.8rem;
  font-weight: 500;
}
.btn {
  padding-inline: var(--space-xs);
  padding-block: var(--space-sm);
  background-color: var(--action-secondary);
  color: var(--text-secondary);
  border: none;
  border-radius: 4px;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .newsletter {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "content image";
  }
}

/* Utility Classes */

/* layout utlity */
.stack {
  display: flex;
  flex-direction: column;
  gap: var(--step-4);
}
.stack-small {
  display: flex;
  flex-direction: column;
  gap: var(--step-0);
}
.stack-horizontal {
  display: flex;
  justify-content: space-between;
}
