/* ==========================================================================
   VARIABLES / DESIGN TOKENS
   ========================================================================== */

:root {
  /* Colors */

  /* Action Tokens */
  --action-primary: hsl(234, 29%, 20%);
  --action-secondary: hsl(4, 100%, 67%);

  /* Surface Tokens */
  --surface-page: hsl(0, 97%, 85%);
  --surface-card: hsl(0, 0%, 100%);
  --surface-modal: burlywood;

  /* Text Tokens */
  --text-main: hsl(235, 18%, 26%);
  --text-muted: hsl(0, 0%, 58%);

  /* Status Tokens */
  --status-error: hsl(4, 100%, 67%);

  /* Spacing */

  --step-0: clamp(1.125rem, 1.0849rem + 0.1835vw, 1.25rem);

  --step-4: clamp(2.3328rem, 2.1019rem + 1.0554vw, 3.0518rem);

  --step-5: clamp(2.7994rem, 2.4733rem + 1.4904vw, 3.8147rem);

  /*Spacing Scale(The Rythm)  */
  --space-xs: calc(var(--step-0) * 0.5);
  --space-sm: var(--step-0);
  --space-md: calc(var(--step-0) * 1.5);
  --space-lg: var(--step-4);
  --space-xl: var(--step-5);

  /* Typography */
  --font-main: "Roboto", sans-serif;
  --font-bold: 700;
  --font-regular: 400;
}

/* ==========================================================================
   BASE STYLES
   ========================================================================== */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  color: var(--text-main);
  margin: 0;
  font-size: var(--step-0);
  line-height: 1.5;
  background-color: var(--surface-page);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

h1,
h2.h3 {
  line-height: 1.1;
}

/* LAYOUT */

.l-full-screen-center {
  display: grid;
  place-items: center;
  min-height: 100dvh;
}

/* COMPONENTS */
.newsletter {
  display: grid;
  /* grid-template-columns: 1fr; */
  grid-template-areas:
    "image"
    "content";
  gap: var(--space-md);
  margin: 0 auto;
  align-items: center;
  max-width: 900px;
  padding: var(--space-md);
  background-color: var(--surface-card);
}
.newsletter__image {
  grid-area: image;
}
.newsletter__content {
  grid-area: content;
}

@media screen and (min-width: 768px) {
  .newsletter {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "content image";
  }
}
/* Utility Classes */
/* layout utlity */

/* spacing utility */
/* typography utitlity */
